.ProjectDescription{
    background-color: white;
    color: black;
    height:650px;
    width: 1150px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 20px;

}

.h2{
color: black;

}

.h5{
color: darkslategray;
}

.p{
    color: black;
   
}

.Projectdetails{
    padding-left: 50px;

}