.Task{
    background-color: white;
    color: black;
    height:540px;
    width: 1150px;
    margin-right: 50px;
    border-radius: 15px;

}

.Description{
    padding-top: 50px;
    padding-left: 0px;
    margin-left: 0%;

}

.DueDate{
    margin-top: 60px;
    margin-left: 500px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #B39DDB;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #311B92;

}

.ButtonBox{
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #B39DDB;
    border-radius: 10px;
   
    border: 2px solid #311B92;

   
}

/* .Tik{
    margin-top: 0px;
    margin-left: 50px;
    padding-top: 0px;
    padding-left: 0px;
    background-color: #565E7B;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: white;

} */