.Pagename{
    font-size: 30px;
    font-weight: 600;
    
}
.Projectlist{
   
    width: 250px;
    height: 35px;
    border-radius: 10px;
   margin-top: 20px;
}

.Other{
    width: 35%;
}
.Total{
    margin-left: 35%;
    width: 20%;
    height: 30px;
}
.print-btn{
 /* position:absolute;
 margin-left: 10%; */
   
}
.submit{
    position: relative;
    margin-left: 80%;
    margin-top: 0px;
}
.Datepicker{
   position: inherit;
   margin-top: 15px;
  
}


.datepicker{
    background-color: aliceblue;
    border-radius: 10px;
}
.pdfform{
    position: relative;
    margin-top: 55px;
}
.budgetpdf{
    margin-top: 50px;
}
.btn-group{
    width: 200px;
    justify-content: space-between;
    left: 700px;
}
.Projectlist{
  height: 50px;
}
.budget{
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid black;
}
.digram-description{
    margin: 30px 0;
    font-size: 18px;
    font-weight: bold;
    color: #1e104e;
    text-align: center;
}