.Content {
    width: 80.5%;
    height: auto;
    margin-left: 260px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 62px;
    position: absolute;

    
    
}

.Content h1 {
    color: #FFFFFF;
}

body {
    background-color: #323a5a;
   
}
