/* General Styles */
.content-project {
  margin: 20px auto;
  width: 150%;
  height: 100%;
  max-height: 1500px;
  max-width: 1050px;
  overflow-y: auto; 
  overflow-x: hidden; 
  padding: 35px;
  border-radius: 5px;
  box-sizing: border-box; 
  background-color: #ffffff;
}

.Section-project {
  margin-bottom: 30px;
  background-color: #C0C0C0; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border: 1px solid black;
}

.SectionHeading {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #000000; /* Darker color for headings */
  border-bottom: 2px solid #0f3258;
  padding-bottom: 5px;
  
}

.form-label{
  color: #000000;
}

.form-control, .form-control:focus {
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: none;
}

input[type="text"], input[type="date"], select {
  border-radius: 5px;
}

select {
  border: 1px solid #000000;
  background-color: #ffffff;
}

select:focus {
  border-color: #007bff;
  box-shadow: none;
}

/* Button Styles */
button[type="submit"] {
  background-color: #007bff;
  color: #626060;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Validation Feedback */
.Form.Control.Feedback {
  color: #dc3545;
}

.Form.Control.Feedback[type="invalid"] {
  display: block;
}

.Form.Control.Feedback[type="valid"] {
  display: block;
  color: #28a745;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Section {
    margin-bottom: 20px;
  }

  .SectionHeading {
    font-size: 1.25rem;
  }

  button[type="submit"] {
    width: 100%;
  }

  .FormControl {
    margin-bottom: 15px;
  }
}
