.maincontent {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 


.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #D3D3D3;
  border-radius: 10px;
  height: 55px;

}

.welcome {
  font-size: 24px;
  font-weight: bold;
  color: #2d4296;
  margin-left: 10px;
}

.developerRateButton {
  padding: 1px 1px;
  font-size: 16px;
  color: white;
  background-color: #2d4296;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.developerRateButton:hover {
  background-color: #1e2f73;
}

.Developerrate {
  background-color: #fff3e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 200px;
  margin: 10px;
  padding: 30px;
  background-color: #d0f1f6;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #00796b;
}

.box p {
  font-size: 24px;
  font-weight: bold;
  color: #004d40;
}

.column3 {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.body-dashboard {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.chartContainer {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
}


.description-dashboard {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: #1e104e;
  text-align: center;
}


