/* UserCreationForm.css */

.content-component{
  margin: 20px auto;
  width: 100%;
  height: 100%;
  max-height: 1500px;
  max-width: 1250px;
  overflow-y: auto; 
  overflow-x: hidden; 
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box; 
  background-color: #ffffff;
}

.form_group {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1050px;
  margin: 500px auto;
  color: #333;
}

h3 {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
}

.form-group {
  margin-top: 20px;
}

.form-label {
  margin-bottom: 3px;
  font-weight: 350;
}

.form-control {
  margin-bottom: 4px;
  font-size: 12px;
  color: #d2d3d5;
}

.form-control::placeholder {
  color: #d2d3d5;
}

#submitButton,
#resetButton {
  margin-top: 5%;
  width: 100%;
}

#submitButton {
  margin-right: 10px;
  background-color: #325472;
  border-color: #6c757d;
}

#resetButton {
  background-color: #325472;
  border-color: #6c757d;
}

#submitButton:hover,
#resetButton:hover {
  background-color: #260495; 
  border-color: #260495; 
  color: #fff; 
}

.primaryButton:hover {
  background-color: #0056b3;
}

.secondaryButton:hover {
  background-color: #5a6268;
}

@media (min-width: 768px) {
  .form_group {
    margin: 20px auto;
  }
}
