.wrapper1{
    background-image: url('./PM-Principles.png');
    background-size: 100% 100%; /* Cover the entire container */
    background-position: center; /* Center the background image */
    width: 200vh; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    
}
.wrapper{
    width: 600px;
    height: 450px;
    background: white;
    opacity: 0.9;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #452193;
    border-radius: 20px;
    padding: 30px 40px; 
    position: absolute;
    top: 20%;
    left: 30%;
   
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 75px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    font-size: 25px;
    color: rgb(4, 4, 4);
    padding: 20px 45px 20px 20px;
    
}

.input-box input::placeholder{
    color: rgb(67, 68, 69);
    letter-spacing: 1px;
    font-size: 25px;
}

.input-box .icon{
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translate(-50%);
    font-size: 25px;
    color: rgb(58, 57, 58);
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 40px 150px 150px;
}

.remember-forgot a {
    color: rgb(32, 6, 162);
    text-decoration: none;   
}

.remember-forgot a:hover{
    text-decoration: underline;
}
 
.wrapper button{
    width: 100%;
    height: 65px;
    background: #452193;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 150px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.popup {
    position: fixed;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 0, 0, 0.7);
    padding : 20px;
    border-radius: 10px;
    z-index: 9999;
   
  }
  
  .popup-content {
    color: #fff;
    
  }
  
  .close {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
  }